@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
    --Black : #01040F;
    --White : #F4F4F4;
    --Ghost : #CCCCCC;
    --Gray : #202024;
    --Blue : #006CFA;

    --Shadow : rgb(0, 0, 0, 0.45);
}

body, html {
    margin : 0;
    padding : 0;
    font-family: 'Gabriela', serif;
    background: var(--Ghost);
}

.Container {
    width: 90vw;
    height : 100vh;
    margin : auto;

    overflow-y : visible;
}



