@import url('./Global.css');
@import url('../Components/Navbar.css');


/* --------------------Home-------------------- */

.Box-Home {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.Ball {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-shrink: 0;

    width: 150vh;
    height: 150vh;

    background: var(--Blue);
    border-radius: 50%;

    transform: translate(-40%, -20%); 
    box-shadow: 20px 40px var(--Shadow);
}

.Ball-Apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;

    text-align: center;
    transform: translateX(-50%);
}

.Ball-Apresentation > h1, h2 {
    color: var(--White);
    margin : 5px;

    letter-spacing: 3px;
    font-size: 2vw;
    font-weight: 500;
}

.Image-Ball {
    width: 20vw;
    height: 20vw;

    margin-bottom: 25px;

    border-radius: 50%;
    background: var(--White);

    box-shadow: 5px 5px var(--Shadow);
}

.Cycle-Development {
    align-self: center;
    transform: translateX(-20vw);
}

.Steps-Development {
    margin-top : 5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Steps-Development > img {
    width: 8vw;
}

/* --------------------About-------------------- */