@import url('./Global.css');
@import url('../Components/Navbar.css');


/* --------------------Home-------------------- */

.Box-Home {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.Polygon {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;


    width: 150vh;
    height: 100vh;

    background: var(--Blue);
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);

    transform: translateX(-30%); 
    box-shadow: 20px 40px var(--Shadow);
}

.Ball-Apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 0;

    text-align: center;
    transform: translate(-75%);
}

.Ball-Apresentation > h1, h2 {
    color: var(--White);
    margin : 5px;

    letter-spacing: 3px;
    font-size: 2vw;
    font-weight: 500;
}

.Image-Ball {
    width: 20vw;
    height: 20vw;

    margin-bottom: 25px;

    border-radius: 50%;
    background: var(--White);

    box-shadow: 5px 5px var(--Shadow);
}

.Cycle-Development {
    align-self: center;
    transform: translateX(-20vw);
}

.Steps-Development {
    margin-top : 5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Steps-Development > img {
    width: 8vw;
}

/* --------------------About-------------------- */

.Box-About {
    margin-top: 15vh;

    display: flex;
    justify-content: center;
}

.Paiting {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--Blue);
    box-shadow: 5px 5px 4px 3px var(--Shadow);

    width: 60vw;
    height: 40vw;

    padding: 15px;
}

.About {
    align-self: flex-start;

    width : 100%;
    height: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    background: var(--Blue);
}

.About-Description {
    max-width: 60%;
    font-size: 1.5vw;
    color : var(--White)
}

.Me-Img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 16vw;

    background-color: var(--White);
    border-radius: 20px;

    box-shadow: 5px 5px 4px var(--Shadow);
}

.Me-Img > img {
    width: 60%;
}

.Knowledges {
    font-size: 2.2vw;

    margin : auto;
    color : var(--White);

    position: absolute;
    top:50%;
    left: 40%;
}

.Knowledges-Painting {
    width: 100%;
    height: 45%;

    display: flex;
    justify-content: space-evenly ;
    align-items: flex-end;
}

.Sub-Painting {
    width: 30%; 
    height: 15vw;

    border-radius: 20px;
    background-color: var(--White);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 5px 5px 4px var(--Shadow);
}

.Sub-Painting > h2 {
    color: var(--Black)
}

.Sub-Painting > img {
    width: 45%;
}